body {
  width: 100%;
  display: flex;
  justify-content: center;
}

.App {
  font-family: sans-serif;
  text-align: center;
  padding: 10px;
}

section {
  display: flex;
  flex-wrap: wrap;
  -webkit-box-shadow: 17px 15px 48px -3px rgba(166, 191, 188, 1);
  -moz-box-shadow: 17px 15px 48px -3px rgba(166, 191, 188, 1);
  box-shadow: 17px 15px 48px -3px rgba(166, 191, 188, 1);
  margin-top: 50px;
}

.color-picker {
  border: 1px solid rgba(165, 205, 221, 0.575);
  height: 70px;
  width: 70px;
}
/* .App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
